html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	background: #FFFAF1;
}

#header{
	border: 1px solid #D2D2D2; 
	width: 98%; 
	margin: 10px auto; 
	border-radius: 15px; 
	padding: 10px 0 10px 0; 
	box-shadow: 0px 0px 8px 1px #D2D2D2;
}
#header #header-title{
	text-align: center; 
	font-family: sans-serif; 
	font-size: 25px; 
	margin: 10px 0 10px 0;
}

#header #select-country .active{
	border: 2px solid #80B6E2; 
	box-shadow: 0px 0px 8px 2px #80B6E2;
}

#header #select-country div{
	cursor: pointer;
	font-size: 16px; 
	font-family: sans-serif; 
	border: 1px solid #828282; 
	border-radius: 6px; 
	padding: 10px 0 10px 0;
	width: 13%;
	text-align: center;
	float: left; 
	margin: 5px 5px 5px 5px;
	min-width: 163px;
}
#header #select-country div img{ 
	margin-right: 2px;
}
#header #auto-update{
	margin: 20px 0 0 0;
}
#header #auto-update #auto{
	float: right; 
	margin-right: 10px;
}
#header #update-info{
	font-size: 14px;
	font-family: monospace;
	margin-right: 10px;
    text-align: right;
	clear: both;
}
#header #auto-update .refreshbtn{
	margin-left: 10px; 
	padding: 7px;
}
#page-news {
	display: none;
}
#page-news .news-box{
	padding:15px; 
	border-radius:15px; 
	border: 1px solid #D2D2D2; 
	box-shadow: 0px 0px 8px 1px #D2D2D2; 
	margin: 10px;
}
#page-news .news-title{
	font-size: 25px; 
	font-family: sans-serif; 
	margin-bottom: -17px;
}
#page-news .news-content {
	font-size: 18px; 
	font-family: sans-serif;
}
#page-news .news-content tr td:last-child{
	float: right;
	line-height: 17px;
}
#page-news .news-content tr td:first-child{
	vertical-align: top;
	padding-top: 45px;
}
#page-news .news-content tr td:first-child  img{
	margin-right: 10px; 
	height: 120px; 
	width: 120px; 
	border: 1px solid #777777; 
	box-shadow: 0px 0px 6px 1px #828282; 
	border-radius: 5px;
}
#status{
	text-align: center; 
	margin-top: 20px;
}
.clear{
	clear: both;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
	.country-name{
		display: none;
	}
	#header #select-country .country-selection{
		padding-left: 0px;
		margin-bottom: 0px;
		width: 0%;
		float: left;
		min-width: 65px;
	}
}


@media only screen and (max-device-width: 320px){
	.country-name{
		display: none;
	}
	#header #select-country .country-selection{
		padding-left: 0px;
		margin-bottom: 0px;
		width: 0%;
		float: left;
		min-width: 65px;
	}
}